body {
    background-image: url(./assets/Capture.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

#poem {
    position: absolute;
    bottom: 0px;
    background-color: rgba(white, white, white, 1)
}

#title {
    text-align: center;
    position: relative;
    top: 0px;
}

/* #inputs {
    display: flex;
    flex-direction: column;
    
} */