body {
   
}

html {
    font-family: 'Kirang Haerang', cursive;
}

button {
    
}

#background {
position: absolute;
top: 20px;
left: 43px;
width: 100%;
z-index: auto;

}

#poem {
    position: absolute;
    bottom: 200px;
    left: calc(50% - 150px);
    width: 300px;
    margin: auto;
    background-color: rgba(207, 205, 205, 0.814);
    text-align: center;
    z-index: 2;
    font-size: 21px;
}

#title {
    text-align: center;
    position: relative;
    top: 0px;
    z-index: 2;
    color:orangered;
    
}

 #inputs {
     position: absolute;
    z-index: 2;
    
} 